.product {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  min-width: 100px;
  background-color: #ffffff;
  margin: 10px;
  padding: 20px;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
  transition: all 0.5s;
  transform: scale(1);
}

.product:hover {
  transform: scale(1.02);
  transition: all 0.5s;
  box-shadow: 0 0 10px rgb(150, 150, 150);
}

.product__snackbar {
  width: 400px;
  margin-top: 50px;
  color: #111 !important;
  background-color: #fff !important;
}

.product__snackbarMessage {
  display: flex;
}

.product__snackbarMessage > img {
  width: 100px;
  margin-right: 20px;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}

.product__price {
  margin-top: 5px;
}

.product__rating {
  display: flex;
  color: #f0c14b;
  font-size: 20px;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product > button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
}
